body {
      background-color: #a65489;
      color: white;
      font-family: 'Arial', sans-serif;
    }
.navbar {
    background-color: #1c1414;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.navbar a:hover {
    text-decoration: underline;
}
.welcome {
    background-color: #1c1414;
    padding: 10px 20px;
    font-style: italic;
}

.summary-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
img.chart {
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}