<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Add New Parking Lot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>

  <div class="header">
    <div class="header-left">ADD A NEW PARKING LOT</div>
    <div class="header-right">
      <a href="{{ url_for('admin_home') }}">← BACK TO DASHBOARD</a>
    </div>
  </div>

  <div class="signup-box">
    <form method="POST" action="{{ url_for('add_lot') }}">
      
      <div class="mb-3">
        <label for="spot_id">PRIME LOCATION NAME:</label>
        <input type="text" class="form-control" id="spot_id" name="prime_locationname" required>
      </div>

      <div class="mb-3">
        <label for="address">ADDRESS:</label>
        <input type="text" class="form-control" id="address" name="address" required>
      </div>

      <div class="mb-3">
        <label for="pin_code">PIN CODE:</label>
        <input type="text" class="form-control" id="pin_code" name="pin_code" required>
      </div>

      <div class="mb-3">
        <label for="price">PRICE(PER HOUR):</label>
        <input type="number" class="form-control" id="price" name="price" step="0.01" required>
      </div>

      <div class="mb-3">
        <label for="number_of_spots">NUMBER OF SPOTS:</label>
        <input type="number" class="form-control" id="number_of_spots" name="number_of_spots" required>
      </div>

      <button type="submit" class="btn btn-signup">ADD LOT</button>
    </form>
  </div>

</body>
</html>    

      