<!DOCTYPE html>
<html>
<head>
  <title>Summary</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin_home.css') }}">
</head>
<body>
  <div class="navbar">
    <div>
      <a href="{{ url_for('admin_home') }}">HOME</a> |
      <a href="{{ url_for('show_users') }}">USERS</a> |
      <a href="{{ url_for('admin_search') }}">SEARCH</a> |
      <a href="{{ url_for('admin_summary') }}">SUMMARY</a> |
      <a href="{{ url_for('logout') }}">LOGOUT</a>
    </div>
    <div><a href="{{ url_for('admin_edit') }}">EDIT PROFILE</a></div>
  </div>

  <div class="welcome">WELCOME, ADMIN SIR !</div>
  <h1 class="text-center">SUMMARY DASHBOARD</h1>


  <div class="container mt-5">
    <h4 class="text-center">Revenue Contribution (Pie Chart)</h4>
    <img src="data:image/png;base64,{{ pie_img }}" class="img-fluid" />

    <h4 class="text-center mt-5">Availability vs Occupied (Bar Chart)</h4>
    <img src="data:image/png;base64,{{ bar_img }}" class="img-fluid" />
  </div>
</body>
</html>
