<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Release Spot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='user_release.css') }}">
</head>
<body>
  <div class="header">
    <div class="header-left">VIEW BOOKING DETAILS!</div>
    <div class="header-right">
      <a href="{{ url_for('admin_home') }}">← BACK TO DASHBOARD</a>
    </div>
  </div>

  <div class="signup-box">
    <form method="POST" action="{{ url_for('booking_details', spot_id=spot.id) }}">
      <div class="mb-3">
        <label>USER ID:</label>
        <input class="form-control" type="text" value="{{booking.user_id }}" readonly>
      </div>
      <div class="mb-3">
        <label>VEHICLE NUMBER:</label>
        <input class="form-control" type="text" value="{{ booking.vehicle_number }}" readonly>
      </div>
      <div class="mb-3">
        <label>START TIME:</label>
        <input class="form-control" type="text" value="{{ booking.start_time.strftime('%Y-%m-%d %H:%M:%S') }}" readonly>
      </div>
      <div class="mb-3">
        <label>CURRENT TIME:</label>
        <input class="form-control" type="text" value="{{ current_time.strftime('%Y-%m-%d %H:%M:%S') }}" readonly>
      </div>
      <div class="mb-3">
        <label>TOTAL COST:</label>
        <input class="form-control" type="text" value="Rs.{{ estimated_cost }} for Rs.{{ booking.parking_cost }} perhour " readonly>
      </div>
      <button class="btn btn-signup" type="submit">CLOSE</button>
    </form>
  </div>
</body>
</html>
