<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Update</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='admin_edit.css') }}" >
</head>
<body>

  <div class="header">
    <div class="header-left">WANT TO UPDATE YOUR PROFILE!</div>
    <div class="header-right">DON'T WANT TO UPDATE PROFILE? <a href="{{ url_for('user_home') }}">GO BACK!</a></div>
  </div>

  <div class="signup-box">
    <h3>UPDATE YOUR PROFILE</h3>
    <form action="/admin_edit" method="POST">

      <div class="mb-3">
        <label for="username">EMAIL ID <span class="small-label">(USERNAME)[username cannot be changed.]</span> :</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ username }}" readonly><!--dikh nhi raha hai #change_baad_me -->
      </div>

      <div class="mb-3">
        <label for="password">PASSWORD :</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <div class="mb-3">
        <label for="fullname">FULL NAME :</label>
        <input type="text" class="form-control" id="fullname" name="fullname" required>
      </div>

      <div class="mb-3">
        <label for="address">ADDRESS :</label>
        <input type="text" class="form-control" id="address" name="address" required>
      </div>

      <div class="mb-3">
        <label for="pincode">PINCODE :</label>
        <input type="text" class="form-control" id="pincode" name="pincode" required>
      </div>

      <button type="submit" class="btn btn-signup">UPDATE</button>
    </form>
  </div>

</body>
</html>